//Select Input
.input-select {
    width: 100%;
    padding: 9px;
    background-color: transparent;
    color: rgb(116, 116, 116);
    border: 1px solid rgb(116, 116, 116);
    border-radius: 5px;
    outline: none;
    font-family: $secondary-font;
    @include font-size(12);
    margin-bottom: 10px;

    &:focus,
    &:active {
        border: 1px solid black;
        color: map-get($colors, black);
        outline: none;
    }

    > option {
        color: map-get($colors, black);
        background-color: map-get($colors, grey);
        font-family: $secondary-font;
        @include font-size(13);

        &:hover,
        &:focus,
        &:active {
            background-color: map-get($colors, grey);
        }
    }
}

.custom-select {
    .custom-select__control {
        background-color: transparent !important;
        color: map-get($colors, black) !important;
        border: 1px solid map-get($colors, black) !important;
        border-radius: 5px !important;
        box-shadow: none !important;
        outline: none;
        font-family: $secondary-font;
        @include font-size(12);

        .custom-select__single-value {
            color: map-get($colors, black);
        }

        .custom-select__indicator-separator {
            background-color: map-get($colors, black) !important;
        }

        .custom-select__indicator {
            svg {
                fill: map-get($colors, black) !important;
            }
        }

        .custom-select__multi-value {
            background-color: map-get($colors, black);
        }

        .custom-select__input {
            color: map-get($colors, black);
        }
    }

    &.error-input {
        .custom-select__control {
            border: 1px solid map-get($colors, danger) !important;
            margin-bottom: 2px;

            &:hover,
            &:active,
            &:focus {
                border: 1px solid map-get($colors, danger) !important;
            }
        }
    }

    .custom-select__menu {
        .custom-select__option {
            color: map-get($colors, black) !important;

            &.custom-select__option--is-focused {
                background-color: map-get($colors, light-grey) !important;
            }

            &.custom-select__option--is-selected {
                background-color: map-get($colors, black) !important;
                color: map-get($colors, white) !important;
            }
        }
    }
}
