.ag-theme-material {
    background-color: transparent !important;
    color: #fff;
    cursor: pointer;

    .ag-header {
        background-color: transparent !important;
        border: 1px solid #313851 !important;
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            color: #fff;
            // box-shadow: 0px 3px 29.76px 2.24px rgba(0, 0, 0, 0.49);
        }

        .ag-header-cell {
            background-color: transparent !important;
            border: 1px solid #313851 !important;
            color: #fff;

            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
                color: #fff;
                // box-shadow: 0px 3px 29.76px 2.24px rgba(0, 0, 0, 0.49);
            }
        }

        .ag-header-cell-menu-button {
            opacity: 1 !important;
        }

        .ag-icon {
            color: map-get($colors, slate-grey) !important;
        }

        .ag-column-hover {
            background-color: transparent !important;
            border: 1px solid #313851 !important;
            color: #fff;

            .ag-icon {
                color: #ffffff !important;
            }
        }
    }

    .ag-cell {
        .ag-icon {
            color: map-get($colors, white) !important;
        }
    }

    .ag-cell-focus {
        outline: 0 !important;
        border: 0 !important;
    }

    .ag-row {
        border-color: #313851 !important;
        cursor: pointer;
    }
    .ag-row-hover {
        background-color: transparent !important;
        color: #fff !important;
        cursor: pointer;
        border-color: #313851 !important;
        outline: 0 !important;
    }

    .ag-row-selected {
        background-color: transparent !important;
        color: #fff !important;
        border-color: #020a20 !important;
        outline: 0 !important;
    }

    .ag-paging-panel {
        color: map-get($colors, white);

        .ag-icon {
            color: map-get($colors, white);
        }
    }

    .ag-center-cols-viewport {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    .ag-center-cols-container {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}
