.ag-root-wrapper {
    border-radius: 10px;
}

.ag-filter-select {
    background-color: transparent;
    color: rgb(116, 116, 116);
    border: 1px solid rgb(116, 116, 116);
    border-radius: 5px;
    outline: none;
    font-family: $secondary-font;
    @include font-size(12);

    &:focus,
    &:active {
        border: 1px solid black;
        color: map-get($colors, black);
        outline: none;
    }

    > option {
        color: map-get($colors, black) !important;
        font-family: $secondary-font;
        @include font-size(13);

        &:hover,
        &:focus,
        &:active {
            background-color: map-get($colors, light-grey) !important;
            color: red !important;
        }
    }
}

.ag-filter-filter {
    &:hover,
    &:focus,
    &:active {
        border-bottom: 2px solid map-get($colors, black) !important;
    }
}

.ag-theme-material {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    cursor: pointer;
    .ag-icon-checkbox-checked {
        color: rgb(158, 158, 158);
    }

    .ag-header {
        background-color: #f9fafc !important;
        color: black;

        &:hover,
        &:focus,
        &:active {
            background-color: rgb(172, 172, 172);
        }

        .ag-header-cell {
            background-color: transparent !important;
            color: black;
            text-transform: uppercase;

            &:hover,
            &:focus,
            &:active {
                background-color: rgb(172, 172, 172);
            }
        }

        .ag-header-cell-menu-button {
            opacity: 1 !important;
        }

        .ag-icon {
            color: map-get($colors, black) !important;
        }

        .ag-column-hover {
            background-color: transparent !important;
            color: black;

            .ag-icon {
                color: black !important;
            }
        }
    }

    .ag-cell {
        .ag-icon {
            color: map-get($colors, black) !important;
        }
    }

    .ag-cell-focus {
        outline: 0 !important;
        border: 0 !important;
    }

    .ag-row {
        color: black;
        cursor: pointer;
    }
    .ag-row-hover {
        background-color: #f9fafc !important;

        color: black !important;
        cursor: pointer;
        outline: 0 !important;
    }

    .ag-row-selected {
        background-color: #f9fafc !important;

        color: black !important;
        outline: 0 !important;
    }

    .ag-paging-panel {
        background-color: #f9fafc !important;
        color: map-get($colors, black);

        .ag-icon {
            color: map-get($colors, black);
        }
    }

    .ag-center-cols-viewport {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    .ag-center-cols-container {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}
